---
---
html {
    position: relative;
    min-height: 100%;
    body {
        font-family:'Roboto';
        background-color: #fafafa ;
        line-height:1.6;
        font-size:16px;
    }
}

.sidebar {
    background-color:#883434;
    h5 {
        height:54px;
        padding-top:16px;
        background-color:#dc3545;
        text-align:center;
        color:white;
    }
    .nav {
        margin-top:35px;
        margin-left:45px;
    }
    ul, li, a, a:hover {
        text-decoration:none;
        list-style-type:none;
        color:white;
        padding-bottom:5px;
        .active {
            :before {
                content: "\f005    ";
                font-family: FontAwesome;
            }
        }
    }
    .subitem {
       font-size:14px;
    }    
    .section {
        font-size:16px;
        li {
            margin-bottom: 10px;
        }
    }
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
    .main {
        .navbar {
            background-color:#fafafa!important;
            .btn {
               margin-left:19px; 
            }
        }
        .content {
            padding-top:35px;
            max-width:900px;
            margin-left:135px;
        }
        a {
            color:#883434;;
            &:hover {
                text-decoration:none;
                border-bottom:none;
                color:hsl(208, 2%, 47%);
            }
            .anchorjs-link {
                color:#883434;
               border:none;   
            }
        }

    }
}

// Animation & Layout for Sidebar - thanks Bootstrapious! https://bootstrapious.com/p/bootstrap-sidebar

#sidebar {
    min-width: 400px;
    max-width: 400px;
    min-height: 100vh;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -400px;
}

#main {
    transition: all 0.3s;
}

#main.pushed {
    margin-left:535px;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -400px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .wrapper .main .content {
        margin-left:0;
        padding-left:35px;
        padding-right:35px;
    }
    #main.pushed {
        margin-left:0px;
    }

}