<!DOCTYPE html>
<html lang="en">
    {% include head.html %}
    <body>
        <div class="wrapper">  
            <div id="sidebar" class="sidebar">
                {% include sidebar.html %}
            </div>
            <div class="main">
                {% include header.html %}
                <div id="main" class="content">
                    {% if page.zeu == 1 %}
                        <p class="alert alert-success">Zeu's Guide to Fun and Success with Custom Magic is reproduced here with permission of the author.</p>
                    {% endif %}
                    <h1>{{ page.title }}</h1>
                    {{ content }}
                </div>
            </div>
        </div>
        {% include scripts.html %}
    </body>
</html>